@font-face {
  font-family: "Poppins-Light";
  src: url(Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(Poppins-Bold.ttf);
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFEF7;
  color: #8B7355;
  font-family: "Poppins-Light", sans-serif;
  font-size: 15px;

}

header {
  display: flex;
  align-content: center;
  padding: 2%;
  background-color: #FFDAB9;
  justify-content: space-between;
  font-size: 25px;
}

.name {
  font-weight: bold;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 75%;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;

}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

main {
  margin: 2em;
  gap: 2em;
}

.presentation {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.picture {
  width: 100%;
  height: auto;
}

.avatar {
  display: block;
  margin: 0 auto;
  max-width: 450px;
  /* Limite la taille */
  width: 100%;
  height: auto;

}

.historyPitch {

  padding: 3em;
}

.transition {

  padding: 2em;
  background-color: #FFDAB9;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Poppins-Bold", serif;
  text-align: center;



}

h1 {
  font-size: 30px;
  padding: 1em;
}

.exercices {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;

}



.exercice-1,
.exercice0,
.exercice1,
.exercice2,
.exercice3,
.exercice4 {
  position: relative;
  z-index: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;

}

.exercice-1::before,
.exercice0::before,
.exercice1::before,
.exercice2::before,
.exercice3::before,
.exercice4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  border-radius: 10px;
  z-index: -1;
  /* derrière le contenu */
}

.exercice-1:hover,
.exercice0:hover,
.exercice1:hover,
.exercice2:hover,
.exercice3:hover,
.exercice4:hover {

  transform: translateY(-10px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);

}

h2 {
  padding: 0.5em;
}

.description {

  padding: 0.5em;
}

.techno {
  padding: 0.5em;
}

.picExercice {

  width: 100%;
  max-width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;


}


.lienGit {
  padding: 0.5em;
}

.date {
  padding: 0.5em;
}


.reseaux {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.linkedIn,
.gitHub {

  font-size: 15px;
  position: relative;
  z-index: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2em;
  text-decoration: underline;
  font-weight: bold;
}

.linkedIn::before,
.gitHub::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 229, 180, 200);
  opacity: 0.5;

  z-index: -1;
  /* derrière le contenu */
}

.copyrights {
  position: relative;
  z-index: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.copyrights::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 229, 180, 200);
  opacity: 0.5;

  z-index: -1;
  /* derrière le contenu */
}

@media(max-width:480px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    font-size: 20px;
    padding: 1em;

  }

  main {
    margin: 0.2em;
  }



  .tabs {

    display: flex;

    flex-direction: column;

  }

  .presentation {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    padding: 0.5em;
    ;
  }





  .avatar {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;

  }

  .historyPitch {
    padding: 0.5em;
    text-align: justify;

  }

  h1 {
    padding: 0.5em;
  }

  .exercices {

    display: flex;
    flex-direction: column;
  }

  .picExercice {

    border: 5px solid #FFDAB9;
    border-radius: 20px;
    max-width: 300px;
  }

  .reseaux {
    text-align: center;
  }
}